<html>
  <head>
  </head>
  <body>
    You are about to register at <a href="<%= domain %>">Skwibl</a><br>
    To finish your registration, go to:<br>
    <a href="<%= domain %>/confirm/<%= link %>"><%= domain %>/confirm/<%= link %></a><br>
    <br><br>
    Your account information<br>
    Login: <%= email %><br>
    Password: <%= password %>
  </body>
</html>
