<html>
  <head></head>
  <body>
    <%= name %> invites you to <a href="<%= domain %>">Skwibl</a><br>
    To finish your registration, go to:<br>
    <a href="<%= domain %>/confirm/<%= link %>"><%= domain %>/confirm/<%= link %></a>
    <br><br>
    Registration info<br>
    login: <%= email %><br>
    password: <%= password %>
  </body>
</html>
