<input type="hidden" id="id" value="<%= id %>"/>
<input type="hidden" id="name" value="<%= name %>"/>
<button name="facebookOn" onclick="facebookOn()">Connect</button>
<button name="facebookOff" onclick="facebookOff()">Disconnect</button>
Facebook: <%= connections.facebook %>
<div id="facebook"></div><hr>
<button name="googleOn" onclick="googleOn()">Connect</button>
<button name="googleOff" onclick="googleOff()">Disconnect</button>
Google: <%= connections.google %>
<div id="google"></div><hr>
<button name="linkedinOn" onclick="linkedinOn()">Connect</button>
<button name="linkedinOff" onclick="linkedinOff()">Disconnect</button>
LinkedIn: <%= connections.linkedin %>
<div id="linkedin"></div><hr>
