<input type="hidden" id="id" value="<%= id %>"/>
<input type="hidden" id="name" value="<%= name %>"/>
<div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
<b>PROJECTS</b>
<% if (projects.length) { %>
  <form id="projects">
    <% projects.forEach(function(project){ %>
    <input type="radio" name="project" value="<%= project.id %>" onchange="switchProject()"/><a href="/dev/projects/<%= project.id %>"><%= project.name %></a><br>
    <% }) %>
  </form>
<% } %>
</div>
<div style="float:left;width:300px;height:300px;border-right:1px solid black;overflow:scroll-y;padding:10px;">
<div id="management"></div>
<input id="projectName" style="width:200px;" />
<input type="button" id="add" value="add" />
<hr>
<b>Info</b> <button name="delete" onclick="deleteProject()">delete</button>
<div>
  <ul id="info"></ul>
</div>
</div>
<div style="float:left;width:300px;height:300px;overflow:scroll-y;padding:10px;">
<b>Users<b>
<div id="userManagement">
<input type="textfield" name="userId" style="width:200px;"/>
  <button name="invite" onclick="invite()">invite by id</button><hr>
  <input type="textfield" name="email" style="width:200px;"/>
  <button name="inviteEmail" onclick="inviteEmail()">by email</button><hr>
  <button name="inviteSocial" onclick="inviteSocial()">invite social</button>
  <button name="delete" onclick="deleteUser()">delete</button>
</div>
<div>
  <form id="projectUsers"></form>
</div>
</div>
<div style="float:left;width:150px;border-left:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
<b>Activities</b><br>
<button name="accept" onclick="accept()">accept</button>
<button name="decline" onclick="decline()">decline</button><hr>
<% if (activities.length) { %>
  <form id="activities">
    <% activities.forEach(function(activity){ %>
      <input type="radio" name="activity" value="<%= activity.id %>" onchange="switchActivity()"/><%= activity.id + " : " + activity.status%><br>
    <% }) %>
  </form>
<% } %>
</div>
